Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-WTF
Werkzeug
python-dotenv
psycopg2-binary
psycopg[binary]
gunicorn
email-validator
reportlab
openpyxl
google-api-python-client
google-auth
Pillow
cryptography
pynfe
lxml
signxml
pyOpenSSL
requests
brazilfiscalreport
